/* === Global === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 62.5%;
}
    
html, body {
    font-family: 'Ranade', sans-serif;
    scroll-behavior: smooth;
}
  
.flex-row {
    display: flex;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
  
.grid {
    display: grid;
    place-items: center;
}
  
.curser {
    cursor: pointer;
}
  
.box-shadow {
    box-shadow: -2px 0 6px 0 rgba(31, 23, 23, 0.2);
}
  
.d-none {
    display: none;
}

.grass {
    background-color: var(--green-color) !important;
}

.fire {
    background-color: var(--red-color) !important;
}

.ice,
.water {
    background-color: var(--blue-color) !important;
}

.bug {
    background-color: var(--lightgreen-color) !important;
}

.fairy,
.normal,
.fighting {
    background-color: var(--grey-color) !important;
}

.poison {
    background-color: var(--purple-color) !important;
}

.electric {
    background-color: var(--yellow-color) !important;
}

.ground {
    background-color: var(--brown-color) !important;
}

.ghost,
.psychic {
    background-color: var(--darkpurple-color) !important;
}

.rock {
    background-color: var(--darkgrey-color) !important;
}

.dragon {
    background-color: var(--orange-color) !important;
}