/* === Settings === */
:root {
  /* Colors */
  --black-color: #1f1717;
  --white-color: #f0f0f5;
  --grey-color: #d9d9df;
  --darkgrey-color: #aeaeb7;
  --red-color: #fa6555;
  --green-color: #2cdab1;
  --lightgreen-color: #a0da2c;
  --blue-color: #58abf6;
  --yellow-color: #ffed4b;
  --orange-color: #ffb74b;
  --purple-color: #9f5bba;
  --darkpurple-color: #775bba;
  --brown-color: #ca8179;
  --loader-color: rgba(31, 23, 23, 0.7);
  
  /* Font-Size */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
}