body {
    background-color: var(--white-color);
    overflow-x: hidden;
    position: relative;
    display: grid;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--red-color);
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 5;
}

header a {
    text-decoration: none;
}

#response-search {
    gap: 20px;
    align-items: center;
}

#favorites {
    font-size: 4rem;
    color: rgb(220, 176, 0);
    transition: all 0.5s ease-in-out;
}

#favorites:hover {
    transform: rotate(360deg);
    color: rgb(250, 233, 0);
}

.bx-x {
    display: none;
}

#load-input-container,
#search-input-container {
    align-items: center;
    gap: 20px;
}

#search-input-container .search-input {
    width: 200px;
}

.input-option {
    font-size: 28px;
    font-weight: bold;
    color: var(--white-color);
}

.search-input,
.response-search-input {
    background-color: var(--white-color);
    border-radius: 20px;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.search-input i {
    font-size: var(--font-size-28);
    font-weight: bold;
}

#load {
    border-radius: 20px;
    padding: 5px 0 5px 20px;
    width: 10rem;
}

form button {
    padding: 5px;
}

.load-input span {
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    color: var(--red-color);
}

#load,
#search,
#load-response,
#search-response {
    border: none;
    outline: none;
    background-color: var(--white-color);
    font-size: var(--font-size-18);
}

#search {
    width: 100%;
}

header h1 {
    color: var(--white-color);
    font-size: var(--font-size-32);
    border-radius: 20px;
    padding: 0 10px;
}

button:hover {
    background-color: #cf3e34;
}

header h1:hover {
    background-color: #bc2d26b3;
}

.responsive-go {
    align-items: center;
    gap: 5px;
}

.responsive-load-input,
.response-search-input {
    display: none;
}

#content {
    width: 98.5vw;
    padding: 40px 0;
    gap: 20px;
    justify-content: center;
    background-color: var(--white-color);
    overflow-x: hidden;
}

.card {
    width: 30rem;
    height: 20rem;
    border: 1px solid rgba(31, 23, 23, 0.1);
    border-radius: 20px;
    justify-content: space-between;
    position: relative;
}

.cards {
    background: url(../img/pokeball.png) no-repeat;
    background-size: 75%;
    background-position-x: right;
    background-position-y: bottom;
    background-blend-mode: overlay;
    height: 22rem;
}

.cards:hover {
    background-blend-mode: exclusion;
}

.cards .card-cover:hover img {
    transform: scaleX(-1);
}

.card-cover,
.card-header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.card-cover {
    align-items: flex-end;
    padding: 0 20px 20px 20px;
    position: relative;
}

.card-cover i {
    position: absolute;
    bottom: -0.5rem;
    left: calc(50% - 2rem);
    font-size: 4rem;
    color: rgb(220, 176, 0);
}

.pokemon-id,
.pokemon-name {
    font-size: var(--font-size-24);
    color: var(--white-color);
    font-weight: bold;
}

.pokemon-id {
    color: rgba(31, 23, 23, 0.3);
}

.types {
    gap: 20px;
}

.types a {
    text-decoration: none;
}

.types span,
.types a span {
    font-size: var(--font-size-12);
    width: fit-content;
    background-color: rgba(31, 23, 23, 0.3);
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--white-color);
}

.pokemon-img {
    width: 12rem;
}

.pokemon-details {
    background-color: var(--white-color);
    min-height: 18.5rem;
    margin-top: -10px;
    border: 1px solid rgba(31, 23, 23, 0.1);
    border-top: none;
    border-radius: 20px;
    padding: 20px 10px;
    justify-content: space-between;
}

.pokemon-details nav {
    justify-content: space-between;
    padding: 0 10px;
}

.pokemon-details nav a {
    font-size: var(--font-size-12);
    color: rgba(31, 23, 23, 0.4);
}

.pokemon-details nav a:hover {
    color: #3131e5;
}

.details-container {
    padding: 20px 10px;
    height: 100%;
    position: relative;
}

.details-container i {
    font-size: var(--font-size-18);
}

.container {
    width: 100%;
    height: 100%;
}

#about-container {
    min-height: fit-content;
    max-height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.evolution-container {
    justify-content: space-evenly;
    align-items: center;
}

.evolution-img {
    width: 5rem;
}

#eevee-evolutions {
    gap: 3px;
}

.eevee-evolution-img {
    width: 4rem;
}

.moves-container {
    overflow-y: scroll;
}

#moves-list {
    gap: 5px;
    min-height: fit-content;
    max-height: 100%;
}

#moves-list span {
    height: fit-content;
    font-size: 8px;
    padding: 2px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
}

.stats-container {
    justify-content: space-between;
}

.parameter-list {
    gap: 5px;
}

.parameters {
    width: 100%;
}

.parameters > span {
    min-width: 9rem;
}

.abilities {
    gap: 5px;
    align-items: center;
}

.abilities span {
    padding: 2px;
    border: 1px solid var(--black-color);
    border-radius: 5px;
}

.stat-row {
    align-items: center;
    justify-content: flex-start;
}

.stat-name {
    min-width: 12rem;
}

.stat-value {
    min-width: 4rem;
}

#moves-container {
    justify-content: center;
    align-items: center;
}

.about-container span,
.stats-container span {
    font-size: var(--font-size-12);
}

.abilities span {
    font-size: 8px;
}

progress {
    width: 100%;
    height: 1rem;
}

#pokemon-info-card {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

#card {
    margin-bottom: 20vh;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    transition: all .5s ease-in-out;
    scale: 1.5;
}

#card .pokemon-id,
#card .pokemon-name {
    font-size: var(--font-size-16);
}

.looper {
    rotate: y 90deg;
}

#moves-container::-webkit-scrollbar {
    width: 3px;
}

#moves-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#moves-container::-webkit-scrollbar-thumb {
    background: #3131e5; 
}

#moves-container::-webkit-scrollbar-thumb:hover {
    background: #888; ; 
}

.active {
    color: var(--black-color) !important;
    padding-bottom: 5px;
    border-bottom: 2px solid #3131e5;
}

.active:hover {
    background-color: unset !important;
}

.glossyWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.arrow {
    color: var(--white-color);
    font-size: var(--font-size-14);
}

.arrow:hover {
    color: #3131e5;
}

#icon-container {
    position: absolute;
    top: 15px;
    right: 10px;
    gap: 10px;
}

.icon {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: grid;
    place-items: center;
}

.icon img {
    height: 60%;
    width: 60%;
}

.lightId {
    color: rgba(240, 240, 245, 0.7);
}

.lightTyp {
    color: var(--black-color) !important;
    background-color: rgba(240, 240, 245, 0.7) !important;
}

.darkName {
    color: rgba(31, 23, 23, 0.7);
}

.newPokemon {
    text-align: center;
    font-size: var(--font-size-12);
}

.noFavorites {
    align-items: center;
    margin: 40px 10px;
    width: 100%;
    gap: 20px;
}

.noFavorites h1 {
    text-align: center;
    font-size: 18px;
}

.noFavorites img {
    width: 40rem;
}

button {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    outline: none;
    font-weight: bold;
}

#loadListBtn {
    border-radius: 40px 40px 0 0;
}

#load::-webkit-outer-spin-button,
#load::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#back {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#back button {
    width: fit-content;
    height: fit-content;
}

#rotate-device {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    gap: 20px;
}

#rotate-device i {
    font-size: 84px;
    color: white;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(60deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(60deg);
    }
}

#loading_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#loading_container img {
    mix-blend-mode: color-burn;
}

#loading_container span {
    font-size: 24px;
}